#home {

    #front_home {

        .background_orchid {
            position: relative;
            background-image: url("/images/pexels-brett-sayles-2291811.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 80vh;

            @include responsive_384-767 {
                // background-size: 188%;
                width: 100vw;
                height: 100vw;
            }

            svg {
                background-color: transparent;
                position: absolute;
                margin: auto;
                right: 0;
                left: 0;
                bottom: 0px;

                @include responsive_384-767 {
                    transform: translateY(-2rem);
                }
            }


            .background_transp {
                width: 100%;
                height: 100%;
                background-color: $color1;
                opacity: 0.4;
            }

            .vb_logo {
                width: 400px;
                position: absolute;
                margin: auto;
                right: 0;
                left: 0;
                top: 0rem;
                bottom: 8rem;

                @include responsive_384-767 {
                    width: 50vw;
                }
            }
        }

    }
}
