.image {
    height: 100px;
    width: 40%;
    background-image: url("/images/shutterstock_1713078307.jpg");


}

#home {

    #front_home {

        .background_orchid {
            position: relative;
            background-image: url("/images/pexels-brett-sayles-2291811.jpg");
            background-attachment: fixed;
            background-size: 100%;
            background-position: top;
            background-repeat: no-repeat;
            width: 100%;
            height: 80vh;

            @include responsive_1200 {
                background-size: 200%;
            }

            @include responsive_700 {
                background-size: 188%;
                width: 100vw;
                height: 100vw;
            }

            svg {
                background-color: transparent;
                position: absolute;
                margin: auto;
                right: 0;
                left: 0;
                bottom: 0px;
                transform: translateY(6rem);

                @include responsive_1700 {
                    transform: translateY(4rem);
                }

                @include responsive_1200 {
                    transform: translateY(2rem);
                }

                @include responsive_384-767 {
                    transform: translateY(-2rem);
                }
            }

            // @include responsive_1265 {
            // 	width: 100vh;
            // }
            // @include responsive_700 {
            // 	height: 25vh;
            // }
            .background_transp {
                width: 100%;
                height: 100%;
                background-color: rgba(92, 24, 92, 0.5);


            }

            .vb_logo {
                width: 400px;
                position: absolute;
                margin: auto;
                right: 0;
                left: 0;
                top: 0rem;
                bottom: 8rem;

                @include responsive_384-767 {
                    width: 50vw;
                }
            }
        }

    }

    #intro_home {
        .card {
            border-radius: 0px;
            background: #6d316d;
            box-shadow: 12px 12px 24px #562756,
                -12px -12px 24px #843b84;
            transform: translateY(-2rem);

            .container {
                max-width: 65%;
                display: flex;
                justify-content: center;
                margin: auto;

                @include responsive_384-767 {
                    flex-direction: column;
                    max-width: 80%;

                }

                p {

                    margin-right: 2rem;
                    width: 70%;
                    text-indent: 80px;
                    font-size: 1.4rem;
                    font-family: 'Courgette', cursive;
                    color: $color-rosybrown;
                    padding: 0rem 0;
                    line-height: 1.8;
                    text-align: justify;

                    @include responsive_384-767 {
                        width: 100%;
                        text-align: justify;
                        text-indent: 60px;
                        font-size: 1.2rem;
                    }
                }

                img {
                    padding: 2rem 0;
                    width: 30%;
                    height: 100%;

                    @include responsive_384-767 {
                        width: 100%;
                    }
                }
            }
        }
    }

    #mokymai_home {
        position: relative;
        height: 53vw;

        // background-color: #904190;
        @include responsive_384-767 {
            height: 90vh;

        }

        video {
            width: 100%;
            height: auto;
            position: absolute;
        }

        .video-overlay {

            width: 100%;
            height: 100%;
            position: absolute;

            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(30, 1, 32, 1) 74%);
            display: flex;
            justify-content: flex-end;

            @include responsive_384-767 {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) -56%, #1e0120 32%);
            }

            .mokymai_content {
                // margin: 6rem 4rem;
                width: 50%;
                display: flex;
                flex-direction: column;
                padding-top: 5rem;

                @include responsive_1200 {
                    padding-top: 1rem;
                    width: 55%;
                }

                @include responsive_384-767 {

                    width: 100%;
                }

                .title {
                    margin-bottom: 2rem;

                    text-align: start;
                    font-family: $montserrat;
                    font-weight: 100;
                    color: $color-washed-violet;
                    font-size: 6vw;

                    @include responsive_1200 {}

                    @include responsive_384-767 {
                        font-size: 10vw;
                        margin: 7rem auto 2rem;
                    }
                }

                p {
                    text-indent: 2rem;
                    text-align: justify;
                    width: 70%;
                    margin: 0 auto;
                    font-family: $montserrat;
                    font-weight: 200;
                    color: $color-rosybrown;
                    font-size: 2vh;
                    overflow: hidden;

                    @include responsive_1200 {
                        font-size: 1.5vh;
                    }

                    @include responsive_960 {
                        width: 80%;
                    }

                    @include responsive_384-767 {
                        font-size: 2.2vh;
                    }
                }

                .btn-grad {
                    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%);
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.4vh;
                    width: 50%;
                    margin: 4rem auto 0;
                    padding: 15px 20px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    text-decoration: none;

                    @include responsive_1200 {
                        font-size: 1.5vh;
                    }

                    @include responsive_960 {
                        margin-top: 1rem;
                        width: 40%;
                        padding: 12px 40px;

                    }

                    @include responsive_384-767 {
                        font-size: 3vw;
                        margin-top: 3rem;
                        padding: 10px 35px;
                    }
                }

                .btn-grad:hover {
                    background-position: right center;
                    /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }
            }


        }


    }

    #paslaugos_home {


        position: relative;
        z-index: 52;
        transform: translate3d(0, -15%, 0px);


        .wave_top {

            background-color: transparent;
            transform: translateY(7px);

        }

        .container {

            margin: auto;
            background-color: $color1;
            padding-bottom: 3rem;

            .title {
                width: 70%;
                margin: auto;
                font-family: $montserrat;
                font-size: 5vw;
                font-weight: 300;
                margin-bottom: 6rem;
                color: $color-washed-violet;

                @include responsive_384-767 {
                    font-size: 10vw;
                    margin-bottom: 3rem;

                }
            }



            a {
                color: $color-rosybrown;
                text-decoration: none;


                .card {

                    width: 56%;
                    display: flex;
                    margin: 2rem auto;
                    height: 10vw;
                    border-radius: 34px;
                    background: #6d316d;
                    box-shadow: 13px 13px 26px #4a214a,
                        -13px -13px 26px #904190;

                    @include responsive_960 {
                        border-radius: 22px;
                    }

                    @include responsive_384-767 {
                        border-radius: 10px;
                        width: 62%;
                        margin: 1rem auto;
                        height: 14vw;
                    }

                    .card_image {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 20vw;
                        border-radius: 34px 0px 0px 34px;

                        @include responsive_960 {
                            border-radius: 24px 0px 0px 24px;
                        }

                        @include responsive_384-767 {
                            border-radius: 10px 0px 0px 10px;
                            width: 23vw;
                        }
                    }

                    img {
                        border-radius: 46px;
                    }

                    .img1 {
                        background-image: url("/images/shutterstock_793330702.jpg");
                    }

                    .img2 {
                        background-image: url("/images/shutterstock_1704058684.jpg");
                    }

                    .img3 {
                        background-image: url("/images/shutterstock_532250035.jpg");
                    }

                    .img4 {
                        background-image: url("/images/shutterstock_495464569.jpg");
                    }

                    .img5 {
                        background-image: url("/images/shutterstock_1713078307.jpg");
                    }

                    .card_text {
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @include responsive_384-767 {}

                        .text {
                            font-family: "Montserrat", sans-serif;
                            font-weight: 200;
                            font-size: 4vw;
                            padding-left: 2rem;

                            @include responsive_384-767 {
                                padding-left: 1rem;
                            }
                        }

                        .arrows {
                            display: flex;
                            justify-content: end;
                        }

                        $animation-delay: .1s;
                        $arrow-size: 2vw;

                        html {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $color-rosybrown;
                        }

                        .scroll-arrow {
                            width: $arrow-size;
                            height: $arrow-size;
                            transform: rotate(316deg);
                            border-right: 1px solid $color-rosybrown;
                            border-bottom: 1px solid $color-rosybrown;
                            animation: arrow-wave 1s infinite;
                            animation-direction: alternate;

                            @for $i from 1 through 3 {
                                &:nth-child(#{$i}) {
                                    animation-delay: $animation-delay*$i;
                                }
                            }
                        }

                        @keyframes arrow-wave {
                            0% {
                                opacity: 0;
                            }

                            50% {
                                opacity: .5;
                            }

                            100% {
                                opacity: 1;
                            }
                        }

                    }

                }

                .card:hover {
                    background-color: #803d80;
                    // transform: scale(0.7);
                }
            }

            .card:last-child {
                margin-bottom: 0rem;
            }

        }



    }

    #galerija_home {

        background-color: $color1;

        @include responsive_384-767 {
            transform: translateY(35px);
        }

        .container {


            margin-top: 50px;
            border-radius: 0px;
            background: $color1;
            box-shadow: 12px 12px 24px #562756,
                -12px -12px 24px #843b84;
            transform: translateY(-174px);

            @include responsive_384-767 {
                transform: translateY(-136px);

            }

            .slider {
                width: 90%;
                margin: auto;
                padding-bottom: 4rem;

                @include responsive_384-767 {
                    width: 100%;
                }

                img {
                    width: 95%;

                    @include responsive_384-767 {
                        width: 100%;
                    }
                }
            }


            .title {
                font-family: $montserrat;
                font-size: 5vw;
                font-weight: 300;
                color: $color-washed-violet;
                width: 70%;
                margin: auto;
                padding: 1rem 0 2rem;

                @include responsive_384-767 {
                    font-size: 10vw;
                    width: 80%;
                }
            }
        }
    }

    #kontaktai_home {

        .background_orchid {
            position: relative;
            background-image: url("/images/pexels-brett-sayles-2291811.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 85vh;


            @include responsive_960 {
                height: 80vh;
            }

            @include responsive_384-767 {
                height: 80vh;

            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #531b53;
                opacity: 0.9;

                .title {
                    display: flex;
                    font-family: $montserrat;
                    font-size: 5vw;
                    font-weight: 300;
                    color: $color-washed-violet;
                    width: 70%;
                    margin: auto;
                    padding: 2rem 0 2rem;

                    @include responsive_384-767 {
                        padding: 2rem 0 2rem;
                        font-size: 10vw;
                    }
                }

                .container {
                    margin: auto;
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .contact {

                        width: 50%;

                        @include responsive_960 {
                            width: 100%;
                        }

                        @include responsive_384-767 {}

                        .icon-box {

                            color: $color-rosybrown;
                            display: flex;
                            align-items: center;
                            font-weight: 200;
                            font-family: $montserrat;
                            font-size: 2rem;
                            padding: 2rem 0;

                            @include responsive_384-767 {
                                font-size: 18px;
                                padding: 1rem 0;
                            }


                            .round_frame {
                                position: relative;
                                background-color: transparent;
                                border: 1.5px solid $color-rosybrown;
                                height: 40px;
                                width: 40px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin-right: 1rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                i {
                                    position: absolute;
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .contact_form {
                        width: 50%;
                        margin-top: 2rem;

                        @include responsive_960 {
                            padding-top: 2rem;
                            width: 90%;
                            margin: auto;
                        }

                        @include responsive_384-767 {
                            margin-top: 2rem;
                            padding-top: 0;
                        }

                        input {
                            width: 100%;
                            margin-bottom: 1rem;
                            padding: 0.5rem 2rem;
                            font-size: 20px;
                            border-radius: 10px;
                            background-color: $color1;
                            color: $color-rosybrown;
                            border: none;

                            &:first-child {
                                margin-bottom: 2rem;
                            }

                            @include responsive_384-767 {
                                margin-bottom: 1rem;
                                font-size: 14px;
                            }


                        }

                        textarea {
                            width: 100%;
                            margin-bottom: 2rem;
                            padding: 11px 27px;
                            font-size: 20px;
                            border-radius: 16px;
                            background-color: $color1;
                            color: $color-rosybrown;
                            border: none;

                            @include responsive_384-767 {
                                margin-bottom: 10px;
                                padding: 6px 32px;
                                font-size: 14px;
                            }
                        }

                        ::placeholder {
                            color: $color-rosybrown;
                            opacity: 0.7;
                        }

                        button {
                            border-radius: 8px;
                            width: 25%;
                            padding: 7px;
                            background-color: #490e49;
                            border: none;
                            color: $color-rosybrown;
                        }
                    }


                }
            }

        }

    }

}
