#paslaugos {
    height: auto;
    background-color: $color1;



    #pricelist {
        width: 80%;
        margin: auto;

        @include responsive_384-767 {
            width: 100%;
        }

        .container {
            min-height: 317px;
            height: auto;
            margin: 3rem;
            border-radius: 50px;
            background: #6d316d;
            box-shadow: -13px 13px 26px #4a214a,
                13px -13px 26px #904190;
            display: flex;
            justify-content: flex-start;

            @include responsive_384-767 {
                height: auto;
                flex-direction: column;
                justify-content: center;
                width: 87%;
                margin: 2rem auto;

            }

            .image {
                height: auto;
                width: 50%;
                background-image: url("/images/shutterstock_793330702.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50px 0 0 50px;
                box-shadow: inset 91px 13px 127px 26px rgba(109, 49, 109, 1);

                @include responsive_384-767 {
                    width: 100%;
                    height: 21vh;
                    border-radius: 50px 50px 0 0;
                    box-shadow: none;
                    background-position: center;
                }
            }

            .overlay {

                @include responsive_384-767 {

                    width: 100%;
                    height: 100%;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(183deg, rgba(255, 255, 255, 0) 47%, #6d316d 85%);
                }
            }

            .list {
                width: 50%;
                margin: 0 auto;

                @include responsive_384-767 {
                    transform: translateY(-25px);
                    width: 100%;
                }

                .btn-edit {
                    color: $color-rosybrown;
                    margin-left: 2rem;

                    @include responsive_384-767 {
                        display: none;
                    }
                }

                .btn-delete {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: $color-rosybrown;

                    @include responsive_384-767 {
                        display: none;
                    }
                }

                .title {
                    width: 80%;
                    margin: auto;
                    font-family: $montserrat;
                    font-weight: 100;
                    color: $color-washed-violet;
                    font-size: 50px;

                    margin-top: 1rem;

                    @include responsive_384-767 {
                        font-size: 30px;
                        margin: 0 auto;
                    }
                }

                .td-align-center {
                    text-align: center;

                }

                .td-align-start {
                    text-align: start;
                }

                table {

                    margin: auto;
                    width: 90%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color: $color-rosybrown;
                    font-size: 20px;

                    @include responsive_384-767 {
                        width: 90%;
                        font-size: 16px;
                        margin-bottom: 1rem;

                    }

                    td:first-child {

                        width: 100%;
                    }

                    td {
                        vertical-align: top;

                    }

                    span {
                        font-family: $montserrat;
                        font-weight: 400;
                        padding: 1rem 0;

                        @include responsive_384-767 {
                            margin-bottom: 1rem;

                        }
                    }

                    .fas .red {
                        font-size: 16px;
                        color: darkgoldenrod;

                    }
                }
            }
        }

        .container2 {
            .image {
                background-image: url("/images/shutterstock_1414233128.jpg");
            }

            .list {
                padding-top: 1rem;
            }
        }

        .container3 {
            .image {
                background-image: url("/images/shutterstock_1704058684.jpg");
            }

        }

        .container4 {
            .image {
                background-image: url("/images/shutterstock_532250035.jpg");
            }

        }

        .container5 {
            .image {
                background-image: url("/images/shutterstock_495464569.jpg");
            }

        }

        .container6 {
            .image {
                background-image: url("/images/shutterstock_1713078307.jpg");
            }

        }


    }

    .btn-add-subservice {


        .btn {
            border-radius: 8px;
            display: block;
            width: 30%;
            margin: auto;
            border: 1px solid $color-washed-violet;
            padding: 1.2rem;
            margin-bottom: 2rem;
            text-align: center;
            color: $color-washed-violet;
            font-family: $montserrat;
            text-decoration: none;
            font-size: 20px;

        }

    }

}
