header {

    background-color: $color1;
    // padding-top: 2rem;

    margin: 2rem auto 0;

    @include responsive_384-767 {
        margin: 1rem auto 0;
    }

    .container {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;

        .shadow {
            margin: auto;
            width: 100%;
            height: 6vh;
            border-radius: 78%;
            background: transparent;
            box-shadow: -34px 80px 78px #2c142c, -39px -43px 75px #6d316d;

            @include responsive_1200 {
                height: 4vh;
                width: 100%;

            }

            @include responsive_384-767 {
                height: 7vh;
                width: 100vw;
                transform: translateY(-5px);
            }
        }

        .socmedia {

            width: 70%;
            display: flex;
            justify-content: flex-start;
            padding-left: 2rem;

            @include responsive_384-767 {
                transform: translateY(1rem);
            }

            svg {
                width: 2rem;
                height: 2rem;
                fill: $color1-dark;
                margin-right: 0.5rem;
            }
        }

        .login {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {

                align-items: center;
                margin-right: 1rem;
                font-family: Nunito;
                color: $color-washed-violet;
                text-decoration: none;


            }

            @include responsive_384-767 {
                display: none;
            }

        }

        .hamburger {
            display: none;
            padding: 0;

            @include responsive_384-767 {
                display: block;
                width: 30%;
                transform: translateY(1rem);
            }
        }







    }

    .menu {


        margin-top: 11px;




        ul {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 0;

            @include responsive_384-767 {
                display: none;
            }

            li {
                list-style: none;
                padding-bottom: 0.6rem;

                a {
                    color: $color-rosybrown;
                    font-weight: 700;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-size: 0.5rem;
                    padding: 0.3rem;
                    font-family: Nunito;

                    &:hover {
                        border-bottom: 4px solid $color-rosybrown;
                    }
                }
            }
        }
    }

    .slide_menu {
        position: fixed;
        z-index: 99;
        top: 10%;
        right: 100%;
        height: auto;
        width: 100%;
        margin: 0;
        background-color: $color1;
        color: $color-rosybrown;
        text-align: center;

        display: block;
        transition: 0.4s;

        ul {
            padding: 0;
            margin: 0;
        }

        li {

            list-style-type: none;
            &:hover {
                background-color: #572157;
            }
        }

        a {
            width: 100%;
            display: block;
            text-decoration: none;
            color: darksalmon;
            font-family: $montserrat;
            padding: 1.5rem;
            border-top: 1px solid #572157;

        }
       
    }

    .is-active {
        right: 0%;


    }

}
