
    .top {
        height: 20vh;
        position: relative;
        @include responsive_384-767 {
            height: 14vh;
        
        } 
        .background_orchid {
           
            background-image: url("/images/pexels-brett-sayles-2291811.jpg");
            background-attachment: fixed;
            background-size: 100%;
            background-position: bottom;
            width: 100%;
            height: 100%;
            position: absolute;
            background-position-y: -330px;
            @include responsive_384-767 {
                height: 14vh;
                background-size: 140%;
            background-position: top;
            background-repeat: space;
            } 

        }

        .overlay {
            display: flex;
            align-items: center;
           
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(109, 49, 109, 0.8);
            @include responsive_384-767 {
                justify-content: center;
            } 
            

            .title {

                font-family: $montserrat;
               width: 80%;
                text-align: right;
                font-weight: 100;
                color: $color-washed-violet;
                font-size: 4vw;
                @include responsive_384-767 {
                    font-size: 12vw;
                    padding: 0;
                    text-align: center;
                } 
            }
        }
    }