#calendar {
    background-color: rgb(237, 206, 255);

    .fc-event-container {
        margin: 0;
        border-radius: 0;
    }

    .fc-today {
        background-color: rgb(229, 190, 252);
    }

    .fc-event {

        background: #8f3d92;
        font-size: 14px;
        border-radius: 0;

        .fc-bg {
            opacity: 1;
            background: #8f3d92;
        }

    }

    td {
        border-color: #cc78cc;

        .fc-content {
            background-color: #8f3d92;
            font-family: $montserrat;

            span {
                font-family: $montserrat;
            }

            .fc-title {
                font-family: $montserrat;
            }

        }

    }

    button {
        color: $color-washed-violet;
        text-shadow: none;
        background-color: transparent;
        border: 1px solid $color-washed-violet;
        border-radius: 8px;
        margin: 0.5rem;
        font-family: $montserrat;


        &:hover {
            background-color: $color1;
            color: $color-washed-violet;
            border-color: $color-washed-violet;
        }

        &:focus {
            background-color: $color1;
        }

    }

    .fc-toolbar {
        background-color: #964d96;
        margin-bottom: 0em;
        padding: 1rem;
        color: #c39fd3;
    }



}

#mymodal {



    .modal-content {
        padding: 2rem;
        width: 100%;
        height: auto;
        background-color: #964d96;
        border-radius: 10px;
        box-shadow: 5px 5px 30px 5px #4a214a;

        .modal-header {
            border-bottom: none;
            padding: 0rem 1rem;
            display: flex;

            .modal-title {
                align-items: center;
                font-size: 30px;
                font-family: $montserrat;
                font-weight: 400;
                color: #2b062b;

            }
        }

        .modal-body {
            display: flex;
            flex-wrap: wrap;

            input {
                margin-bottom: 1rem;
                width: 100%;
                padding: 0.5rem;
                margin-top: 0.5rem;
                border-radius: 6px;
                border: none;
                background-color: #e2b9e2;
                color: $color1;
            }

            input::placeholder {
                color: #6d316d;
            }

            select {
                width: 100%;
                padding: 0.7rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                border-radius: 6px;
                border: none;
                background-color: #e2b9e2;
                color: $color1;

            }

            .select-color {
                display: flex;

                padding: 30px;

                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover input~.checkmark {
                        background-color: #460446 !important;
                    }

                    // &:checked input ~ .checkmark{
                    //     background-color: #030203!important;
                    //   }

                    input {
                        position: absolute;
                        width: 0;
                        opacity: 0;
                        cursor: pointer;
                    }


                }

                .container input:checked~.checkmark {
                    border: 1px solid #571a57 !important;
                }

                .checkmark {
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;

                }

            }

            .btn-submit {
                display: block;
                width: 25%;
                border: 1px solid #460446;
                border-radius: 6px;
                padding: 0.5rem;
                text-align: center;
                font-family: $montserrat;
                color: #4d064d;
                margin-top: 0.5rem;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: $color1;
                    color: $color-washed-violet;
                    border-color: $color-washed-violet;
                }
            }
        }
    }
}
