#finance {
.chart{
    margin: 30px auto 0;
    width: 85%;
    
}
    .card {
        padding: 2rem;
        width: 85%;
        height: auto;
        margin: 4rem auto;
        background-color: #964d96;
        border-radius: 10px;
        box-shadow: 5px 5px 30px 5px #4a214a;

        table {
            width: 100%;
            margin-bottom: 2rem;
            border-collapse: collapse;

            tr {
                border-bottom: 1px solid #6d316d;

                &:first-of-type {
                    border-bottom: 2px solid #562756;
                }

            }

            th {
                padding: 1rem;
                text-align: left;
                font-size: 25px;
                font-family: $montserrat;
                font-weight: 400;
                color: #2b062b;

                &:nth-child(1) {
                    width: 20%;
                }

                &:nth-child(2) {
                    width: 50%;
                }
                &:nth-child(3) {
                    width: 30%;
                }

               
            }

            td {
                color: $color-washed-violet;
                padding: 1rem;
                font-size: 18px;
                font-family: $montserrat;


            }
        }

    }


}
